{% extends "bugtracerapp/layout.html" %} {% block title %} - Register
Bug{%endblock%}
<!---->
{%block body %}
<div class="container-fluid">
  <h1 class="h3 text-gray-800 my-5">
    {%if "edit" in request.path%}Edit Bug{%else%}Register New Bug{%endif%}
  </h1>
  <p class="text-info">Priority levels are between 1 (danger) and 3 (normal)</p>
</div>
<div class="container-fluid">
  <form action="" method="POST">
    {%csrf_token%} {{form}}
    <input type="submit" class="btn btn-primary" />
  </form>
</div>

{%endblock%}
