{% extends "bugtracerapp/layout.html" %} {% block title %} - View
Bug{%endblock%}
<!---->
{%block body %}
<div class="container-fluid">
  <h1
    class="display-6 my-5 text-{%if bug.priority == 1 %}danger{% elif bug.priority == 2 %}warning{%else%}info{%endif%}"
  >
    {{bug.title}} {% if bug.solved %} (resolved) {% endif %}
  </h1>

  <p>
    <a
      href="{%url 'project_detail' bug.project.id%}"
      style="z-index: 1; text-decoration: none"
    >
      {%if bug.project.logo%}
      <img
        style="width: 30px; border-radius: 50%; margin: 5px"
        src="{{bug.project.logo.url}}"
        alt="{{bug.project.title}} logo"
      />
      {%endif%}
      <strong class="f5">{{bug.project}}</strong></a
    >
    - priority:
    <!-- j -->
    {%if bug.priority == 1%} High {% elif bug.priority == 2%} Medium {%else%}
    Low {%endif%}
  </p>

  <p class="lead">{{bug.content}}</p>
  <hr class="my-2" />
  <p>
    <small>Submitted by </small>{{bug.author}}
    <small>on {{bug.date}}</small>
  </p>
  {%if bug.solved == False %}{%if request.user == bug.author %}<a
    href="{% url 'edit' bug.id %}"
    >Edit bug</a
  >
  {%endif%} {%endif%}
  <p>
    <small>Last Modified: {{bug.last_modified}}</small>
  </p>
</div>

{%endblock%}
