{% extends "bugtracerapp/layout.html" %} {% block title %} - Profile{%endblock%}
<!---->
{%block body %}
<div class="container-fluid">
  {% if object.profile_picture %}

  <img
    src="{{object.profile_picture.url}}"
    width="300px"
    alt="profile picture"
  />
  {%endif%}
  <h1 class="h1 text-gray-800 my-5">{{object.username}}</h1>
  <h2 class="mb-4">Bio:</h2>
  <p>{{object.bio}}</p>
  {% if request.user == object %}
  <p class="">
    <a href="{% url 'edit_profile' object.username %}">Edit Profile</a>
  </p>
  {%endif%}
</div>

{%endblock%}
