{% extends "bugtracerapp/layout.html" %} {% block title %} -
{{project.title}}{%endblock%}
<!---->
{%block body %}
<div class="container-fluid">
  {%if project.logo%}
  <img
    style="width: 200px"
    src="{{project.logo.url}}"
    alt="{{project.title}} logo"
  />
  {%endif%}
  <h1 class="display-6 my-5 text-info">{{project.title}}</h1>

  <p>{{project.description}}</p>

  <hr class="my-2" />
  <p>
    <small>Contributors: {% for user in project.contributors.all %}
    <a href="{% url 'profile' user.username %}">{{user.username}}</a>{%endfor%}</small>
    <br />
    <p class="mb-1 mt-4"><a href="{% url 'edit_project' project.id %}">Edit Project</a></p>
    <small>Created on: {{project.date}}</small>
  </p>
</div>
<div class="list-group">
  <h2 class="my-5 mx-4">Active Bug Tickets:</h2>
  {% for bug in bug_list %}
  <a
    href="{% url 'bug_detail' bug.id %}"
    class="list-group-item list-group-item-action"
  >
    <p
      class="h4 text-{%if bug.priority == 1 %}danger{% elif bug.priority == 2 %}warning{%else%}info{%endif%}"
    >
      {{bug.title}}
    </p>
    <p>
      {%if bug.priority == 1%}High Priority {% elif bug.priority == 2 %}Medium
      Priority{% else %}Low Priority{%endif%}
    </p>
    <div class="text-right">
      <p>
        <small>Submitted by </small>{{bug.author}}
        <small>on {{bug.date}}</small>
      </p>
    </div>
  </a>
  {% empty %}
  <h3 class="mx-3 mb-5">No Bugs to Display</h3>
  {% endfor %}
</div>
{%endblock%}
