{%extends 'bugtracerapp/form_layout.html'%} {%block title%} | Update
Project{%endblock%} {%block body%}
<div class="form m-5 dynamic-content">
  <div class="container-fluid">
    <h1 class="h1 text-gray-800 my-5">Update Project</h1>
    <p class="">Please enter some information about this project/app</p>
  </div>
  <div class="container-fluid">
    <form action="" method="POST" enctype="multipart/form-data">
      {%csrf_token%} {{form}}
      <input type="submit" class="btn btn-primary" />
      <a href="../allProjects" class="ml-3 btn btn-secondary">Cancel</a>
    </form>
  </div>
</div>
{%endblock%}
