{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Log and track bugs in your projects easily"
    />
    <title>Bug Tracer</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'bugtracer/globalmin.css' %}"
    />
    <link
      href="{% static 'bugtracer/vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
  </head>

<div class="form m-5">
  <div class="container-fluid ">
    <h1 class="h1 text-gray-800 my-5">Update Project</h1>
    <p class="">Please enter some information about this project/app</p>
  </div>
  <div class="container-fluid">
    <form action="" method="POST" enctype="multipart/form-data">
      {%csrf_token%} {{form}}
      <input type="submit" class="btn btn-primary" />
      <a href="../allProjects" class="ml-3 btn btn-secondary">Cancel</a>
    </form>
  </div>
</div>

  </body>
</html>

